mixin grbody(listlist)
	each item in listlist 	
			div(class=item.class)
				.img_set 
					a(href=item.href)
						img(src=item.img)
				h2 
					|#{item.h2}
				.text_r 
					p 
						|#{item.p}











block variables
	-
		var Listli = [
			{'class' : 'elbody_2',
			'img' : 'img/book_2.jpg',
			'h2' : 'Евгений Онегин',
			'href' : 'about_book_2.html',
			'p' : 'Роман «Евгений Онегин» великий русский писатель писал около семи лет, называя это подвигом. Главным героем романа является Евгений Онегин, выросший в дворянской семье и ведущий довольно праздный образ жизни. После смерти дяди Онегин поселяется в деревне, где его одолевает скука. Вскоре он знакомится со своим молодым соседом-поэтом и у них завязывается крепкая дружба, несмотря на разницу в характерах. Далее перед нами будет разворачиваться драматическая история дружбы, безответной любви, погубленных молодых судеб…'
			},
			{'class' : 'elbody_3',
			'img' : 'img/book_3.jpg',
			'h2' : 'Герой нашего времени',
			'href' : 'about_book_3.html',
			'p' : 'Это первый лирико-психологический роман в русской литературе, специфичностью которого является объединение нескольких жанров: путевой очерк, новелла, рассказ. В ней освещается история жизни молодого офицера Печорина, живущего на Кавказе. В главном герое вы увидите обычные людские пороки, которые ведут борьбу с твердым характером, добросердечностью и свободомыслием. Если кратко охарактеризовать главного героя, то это собирательный образ «лишнего человека». Роман состоит из пяти частей, хронологический порядок которых нарушен для акцентирования характера и моральных ценностей персонажей.'
			},
			{'class' : 'elbody_4',
			'img' : 'img/book_4.jpg',
			'h2' : 'Анна Каренина',
			'href' : 'about_book_4.html',
			'p' : '«Анна Каренина» (1873–1877; журнальная публикация 1875–1877; первое книжное издание 1878) — роман Льва Толстого о трагической любви замужней дамы Анны Карениной и блестящего офицера Алексея Вронского на фоне счастливой семейной жизни дворян Константина Лёвина и Кити Щербацкой. Это масштабное произведение, которое описывает нравы и быт дворянской среды Петербурга и Москвы второй половины XIX века. В романе сочетаются философские размышления авторского alter ego Лёвина с передовыми в русской литературе психологическими зарисовками, а также сценами из жизни крестьян.'
			},
			{'class' : 'elbody_5',
			'img' : 'img/book_5.jpg',
			'h2' : 'Преступление и наказание',
			'href' : 'about_book_5.html',
			'p' : 'Социально-психологический и социально-философский роман Фёдора Михайловича Достоевского, над которым писатель работал в 1865-1866 годах. Впервые опубликован в 1866 году в журнале «Русский вестник». Через год вышло в свет отдельное издание, структура которого была немного изменена по сравнению с журнальной редакцией; кроме того, автор внёс в книжный вариант ряд сокращений и стилистических правок.'
			}
		]

		

	

















include struct/header.pug

.grbody
	.elbody_1
		.text
			h2 Мастер и Маргарита
			p 
				|Главный герой этого культового романа – Мастер, который попал в психиатрическую больницу из-за травли и ареста после написания романа “Понтий Пилат”. Исчезновение Мастера весьма скорбно восприняла его жена Маргарита. Она готова пойти на любые жертвы ради того, чтобы узнать жив ли ее муж…и даже продать душу дьяволу…
		.img_set
			a(href='about_book_1.html')
				img(src='img/book_1.jpg')
  	

			
	
	.grbody_r
		+grbody(Listli)
include struct/bottom.pug  